*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* COMMONS */
.font-size18{
    font-size: 18px;
}
.font-size24{
    font-size: 24px;
}
.font-size28{
    font-size: 28px;
}
.font-center{
    text-align: center;
}
.font-white{
    color: white;
}
.font-black{
    color: black;
}
a{
    text-decoration: none;
}
.relative{
    position: relative;
}
.centre{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.pos-left{
    top:50%;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
}
.pos-right{
    top:50%;
    right:0;
    position: absolute;
    transform: translateY(-50%);
}
.btn{
    border-radius: 20px;
    padding: 10px 15px;
    text-transform: capitalize;
    margin: 0 5px;
}
.bkg-white{
    background-color: white;
}
.bkg-black{
    background-color: black;
}
.bkg-purple{
    background-color: #7289da;
}
svg{
    margin: -10px 0;
}
.float::after{
    content: '';
    display: table;
    clear: both;
}
/* FINE COMMONS */
/* intestazione  */
header{
    background-color: #355de0;
}
header .container{
    width: 80%;
    height: 80px;
    margin: auto;
} 
.container > *{
    float: left;
}
.box-logo, .box-btn{
    width: 20%;
    height: 100%;
    position: relative;
}

header nav{
    width: 60%;
    height: 100%;
}
nav ul li{
    display: inline-block;
    margin: 0 15px;
    line-height: 80px;
    list-style: none;
}
/* jumbotron  */
header .jumbotron{
    width: 100%;
    height: 580px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    position: relative;
}
.jumbotron .box-jumbo{
    width: 50%;
    position: absolute;
}
.jumbotron .box-jumbo h1{
    font-size: 50px;
    margin: 20px 0;
    text-transform: capitalize;
}
.jumbotron .box-jumbo p{
    line-height: 1.6;
    margin-bottom: 20px;
}

/*fine jumbotron  */
/* fine intestazione */
/* inizio main  */
main .section-uno{
    margin-top: 20vh;
}
section .box-section>*{
    float: left;
} 
section .box-section{
    width: 80%;
    margin: auto;
}

section .box-section .img-section{
    width: 65%;
} 
.section-4 .box-section .item4-big{
    width: 100%;
}
section .box-text{
    width: 30%;
    margin-left: 5%;
    padding: 30px;
}
.section-4 .box-text{
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.8;
}
.section-4 .box-btn-4{
    height: 60px;
    width: 100%;
    margin: 20px 0 100px 0;
}
.section-4 .btn-4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.section-4 .font-stars{
    width: 100%;
    line-height: 60px;
    margin-bottom: 20px;
}
section .box-text h2{
    line-height: 1.6;
    font-size: 40px;
}
.section-due, .section-4{
    background-color: #f6f6f6;
}
/* fine main  */
footer .section-ultima{
    background-color: #23272a;
}
footer .container-footer{
    width: 80%;
    margin: auto;
    padding: 30px 0;
}
footer ul{
    list-style: none;
    float: left;
    text-transform: capitalize;
}
footer ul.main-ul{
    line-height: 1.2;
    width: 40%;
}
footer ul.second-ul{
    line-height: 1.8;
    width: calc(60% / 4);
}
footer li.first{
    color: #7289da;
    margin-bottom: 10px;
}

footer ul li .bandiera{
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
footer ul .loghi-footer >*{
    margin: 20px 10px;
    font-size: 24px;
}
.loghi-footer :first-child{
    margin-left: 0;
}
footer .page-end{
    height: 100px;
    width: 80%;
    margin: auto;
    border-top: 1px solid #7289da;
    margin-top: 20px;
}
footer .page-end .box-logo.left{
    float: left;
}
footer .page-end .box-btn.right{
    float: right;
    position: relative;
}





