*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* COMMONS */
.font-white{
    color: white;
}
.font-black{
    color: black;
}
a{
    text-decoration: none;
}
.centre{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    border-radius: 20px;
    padding: 5px 10px;
}
/* FINE COMMONS */
/* intestazione  */
header{
    background-color: #355de0;
}
header .container{
    width: 80%;
    height: 80px;
    margin: auto;
} 
.container > *{
    float: left;
}
header .box-logo, header .box-btn{
    width: 25%;
    height: 100%;
    position: relative;
}

header nav{
    width: 50%;
    height: 100%;
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
    line-height: 80px;
    list-style: none;
}
header .jumbotron{
    width: 100%;
    height: 580px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    position: relative;
}
.jumbotron .box-jumbo{
    width: 50%;
    position: absolute;
    text-align: center;
}
header .container::after{
    content: '';
    display: table;
    clear: both;
}
/* fine intestazione */
/* inizio main  */
main .section-uno{
    margin-top: 20vh;
}
section .box-section>*{
    float: left;
} 
section .box-section{
    width: 80%;
    margin: auto;
}
.box-section::after{
    content: '';
    display: table;
    clear: both;
}
section .box-section .img-section{
    width: 65%;
} 
section .box-text{
    width: 30%;
    margin-left: 5%;
    padding: 30px;
}
section .box-text h2{
    line-height: 1.6;
    font-size: 40px;
}
.section-due{
    background-color: #f6f6f6;
    margin-top: -10px;
}


/* fine main  */

















/* DEBUG  */
.container.debug{
    background-color: blue;
}
.debug .box-logo{
    background-color: yellow;
}
.debug nav{
    background-color: red;
}
.debug .box-btn{
    background-color: green;
}
.debug .box-jumbo{
    background-color: yellow;
}

/* fine debug */